<h1 class="text-center mt-3">Look up Profile</h1>

<div class="container">
    <div class="search-user">
        <input type="text" [(ngModel)]="username">
        <button type="button" class="btn btn-primary" (click)="lookUpProfile()">Check</button>
    </div>

    <div>
        <h3>User: {{user.login}}</h3>
        <img [src]="user.avatar_url">
    </div>

    <div *ngFor="let item of user.repositories">
        <p>Repository name:
            <a [href]="(item.git_url | safe:'url') " target="_blank">{{item.name}}</a></p>
        <p>Language: {{item.language}}</p>
        <p>Description: {{item.description}}</p>
    </div>
</div>